<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>首页</h1>
        <a th:href="@{/hello/success}">测试requestmapping注解位置</a><br>
        <a th:href="@{/success}">测试requestmapping注解value属性/success</a><br>
        <a th:href="@{/test}">测试requestmapping注解value属性/test</a><br>
        <a th:href="@{/test}">测试requestmapping注解method属性-->get</a><br>
        <form th:action="@{/test}" method="post">
            <input type="submit" value="测试requestmapping注解method属性-->post">
        </form>
        <a th:href="@{/testgetmapping}">测试GetMapping注解-->/testgetmapping</a><br>
        <form th:action="@{/testPut}" method="put">
            <input type="submit" value="测试表单是否能够发送put或者是delete请求">
        </form>
        <a th:href="@{/testParamsAndHeaders?username='admin'&password='123'}">测试requestmapping注解params和headers属性-->/testParamsAndHeaders</a><br>
        <a th:href="@{/a1a/testAnt}">测试requestmapping注解ant中的？-->/a1a/testAnt</a><br>
        <a th:href="@{/a1a/testAnt}">测试requestmapping注解ant中的* -->/a1a/testAnt</a><br>
        <a th:href="@{/a1a/testAnt}">测试requestmapping注解ant中的** -->/a1a/testAnt</a><br>
        <a th:href="@{/testPath/1/admin}">测试requestmapping支持路径中中的占位符-->testPath</a><br>

    </body>
</html>